<h2>Battle</h2>
<div id="container">
    <div id="battle" class="bg-1">
        <app-battle-pokemon [pokemon]="battle.bluePokemon" class="player" (log)="log($event)"></app-battle-pokemon>
        <app-battle-pokemon [pokemon]="battle.redPokemon" class="opponent" (log)="log($event)"></app-battle-pokemon>
    </div>
    <div id="logs">
        <!--<legend>Logs</legend>-->
        <div class="content">
            <!--<ng-scrollbar [shown]="'always'" [autoUpdate]="true" [trackY]="true" [trackX]="false">-->
                <p *ngFor="let log of logs">{{log}}</p>
            <!--</ng-scrollbar>-->
        </div>
    </div>
</div>
